@import 'https://fonts.googleapis.com/css?family=Raleway';
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
    margin: 0;
    background-color: #000;
    font-family: 'Open Sans Condensed', sans-serif;
}

.centered {
    display: inline-block;
    float: none;
}

.pad-20 {
    padding-top: 20px;
}

.text-white {
    color: #fff;
}


/* Header */
header {
    margin-top: 20px;
}

.subtitle {
    color: #999;
    padding-top: 10px;
    font-size: 1.5em;
}




/* Navigation */
#nav {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin-top: 20px;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    float: left;
    padding: 25px 15px;
}

.nav ul li:hover {
    background-color: #666;
}

.nav ul li a {
    color: #fff;
    font-size: large;
}

.nav ul li a:hover {
    text-decoration: none;
}




/* Slide */
.slide {
    background: url(../img/jswiftslide.jpg) no-repeat top center;
    height: 500px;
}

.slide-h1 {
    padding-top: 150px;
    font-size: 4em;
}

.slide-h4 {
    padding-top: 30px;
    font-size: 2em;
}

.slide-h1, .slide-h4 {
    color: #fff;
    text-align: center;
}

.slide-button {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}




/* Services */
#services {
    background-color: #000;
    padding: 60px 0px;
    text-align: center;
}

.services-h1 {
    color: #fff;
    text-align: center;
    /*padding-top: 50px;*/
}

.service-line {
    border:1px solid #999;
    margin-top: 15px;
}

.service-boxes {
    padding-top: 60px;
    text-align: center;
}

.service {
    /*padding: 10px;*/
    display: inline-block;
    float: none;
    text-align: center;
    color: #f2f2f2;
}

.service-1 .fa, .service-2 .fa, .service-3 .fa {
  font-size: 60px;
  border-radius: 100%;
  display: inline-block;
  line-height: 2.4;
  width: 160px;
  height: 160px;
}






/* Prices */
#prices {
    background-color: #333;
    padding: 30px 0px 60px;
    text-align: center;
}

.prices-h1 {
    color: #fff;
    text-align: center;
    /*padding-top: 50px;*/
}







/* Clients */
#clients {
    background-color: #fff;
    padding: 30px 0px 60px;
    text-align: center;
}

.clients-h1 {
     color: #666;
}

.client {
    color: #999;
}



/* Contact */
#contact {
    background-color: #000;
    padding: 30px 0px 60px;
    text-align: center;
}

form {
    text-align: left;
}

form label {
    font-size: 1.6em;
    color: #999;
}

.form-control {
    font-size: 1.3em;
}

#message {
    display: none;
}




/* Footer */
footer {
    font-size: 1em;
    color: #fff;
}

footer a {
    color: #fff;
}
